@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    height: 100vh;
    font-family: 'Poppins',sans-serif;
    background-color: #f5f2f0;
}
header{
    display: grid;
    grid-template-columns: 450px 1fr 1fr;
    padding:40px 70px;

}
main{
    display: grid;
    grid-template-columns: 500px auto;
    grid-template-rows: 100vh;
    margin-top: -60px;
}
.left-section img{
    width: 500px;
    position: absolute;
    top:0px;
    z-index: -1;
    height: 100vh;
    border:none;
    outline: 0;
    border-radius: 2px;
}
.logo-img{
    flex-grow: 1;
}
.logo{
    height: 30px;
}
.right-section{
    margin:0px 70px;
}
.right-section .header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}
.header-div{
    margin-right: 30px;
    height: 2px;
    background-color: #333333;
    margin-top: 7px;
}
.header .lists{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    margin-top: -3px;
}
.header .lists li{
    color:#828282;
    cursor: pointer;
   }
.header .lists li:hover{
 color:#4f4f4e;
 font-weight: 700;
}
.hamburger{
    display: none;
}
.right-mid-section{
    margin:0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.right-mid-section .heading h1{
  font-family: 'Crimson Text', serif;
  font-size:100px;
}
.heading .heading-end{
    margin-top: -50px;
    margin-left: 100px;
    color:#333333;
}
.heading .heading-start {
    color:#f5f2f0;
    text-shadow: 1px 0 0 #4a4949, 0 -1px 0 #4a4949, 0 1px 0 #4a4949, -1px 0 0 #4a4949;
}
.sub-heading{
    position:relative;
}
.sub-heading h4{
    font-family: 'Poppins';
    font-size:20px;
    position: absolute;
    top:58%;
    left:15%;
    font-weight: 400;
    color:#878787;
}
.social-icons{
    text-align: end;
}
.icons{
    list-style-type: none;
}
.icons li{
    margin:40px 0px;
    position: relative;
    right:10px;
}
.icons .list{
    right:16px;
}
.icons li img{
    height: 15px;
    color:#333333;
    cursor: pointer;
}
.button-section{
    float:right;
    margin-top: -25px;
}
.button-section .button{
    padding:15px 50px;
    font-size:14px;
    font-family: 'Poppins';
    outline:none;
    border:none;
    background-color: #333333;
    color:#f5f2f0;
    cursor: pointer;
}
.button-section .button:hover{
    background-color: #000;
}
.lower-section{
    margin:50px 0px;
    display: grid;
    grid-template-columns: 200px 1fr 150px;
    column-gap: 20px;
}
.list-section .list{
    list-style-type: none;
    cursor: pointer;
    margin:0;
    font-family: 'Poppins';
    font-size:14px;
}
.list-section .list .fa-circle{
    margin-right: 20px;
    font-size:12px;
}
.list-section .list{
    color:#848484;
}
.list-section .list:hover{
    color:#333333;
    font-weight: 700;
}
.list-section .lists .line{
 width: 2px;
 height: 45px;
 background-color: #000;
 margin:-8px 0px -8px 5px;
}
.image-section .fa-quote-right{
    font-size:40px;
    color:#333333;
}
.image-section p{
    font-family: 'Poppins';
    margin:10px 0px;
    font-size:13px;
    font-weight: 700;
    color:#020202;
}
.lower-section .lower-image{
    height: 150px;
    background-image: url('../images/dance-women.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border:none;
    outline: 0;
    border-radius: 2px;
}
.arrow-down{
    text-align: end;
    margin-top: 105px;
}
.fa-arrow-down-long{
    font-size:120px;
    font-weight: 700;
    color:#525252;
    cursor: pointer;
}

@media screen and (max-width:576px) {
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding:30px;
    }
    .logo{
        height: 40px;
    }
    .header-div, .header .lists{
      display: none;
    }
    .hamburger{
        display: block;
    }
    .hamburger i{
        font-size: 35px;
    }
    main{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    .left-section img{
        position: static;
        height: auto;
        width: 100%;
    }
    .right-section{
        margin:0px 30px;
    }
    .right-mid-section {
        grid-template-columns: 1fr;
    }
    .sub-heading h4{
        position:static;
        text-align: center;
        font-size:30px;
        margin-top: 20px;
    }
    .icons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin:60px 0px;
    }
    .icons li{
     position: static;
     margin:0px;
    }
    .icons li img{
        height: 25px;
    }
    .button-section{
        width: 100%;
        margin:25px auto;
    }
    .button-section .button{
        display: block;
        margin: 0px auto;
    }
    .lower-section{
        margin-top: 150px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .list-section{
        margin-top: 70px;
        order:10;
    }
    .list-section .list{
        font-size:20px;
    }
    .list-section .list .fa-circle{
        font-size:20px;
    }
    .list-section .lists .line {
        margin: -8px 0px -8px 9px;
    }
    .image-section p{
        font-size:18px;
        font-weight: normal;
    }
    .arrow-down{
        margin-top: 0px;
        margin-bottom: 70px;
        order:-1;
    }
}